<div>
    <div class="result">
        <h5>Append</h5>
        <div class="result-content">{{ consoleTextAppend }}</div>
    </div>
    <div class="result">
        <h5>Prepend</h5>
        <div class="result-content">{{ consoleTextPrepend }}</div>
    </div>
    <div class="result">
        <h5>Insert at index</h5>
        <div class="result-content">{{ consoleTextInsert }}</div>
    </div>
    <div class="result">
        <h5>Remove at index</h5>
        <div class="result-content">{{ consoleTextRemove }}</div>
    </div>
    <div class="result">
        <h5>Doubly linked list normal flow</h5>
        <div class="result-content">{{ consoleDoublyLinked }}</div>
    </div>
    <div class="result">
        <h5>Doubly linked in reverse</h5>
        <div class="result-content">{{ consoleArrayDoublyLinkedListInReverse }}</div>
    </div>
    <div class="result">
        <h5>Linked list reverse</h5>
        <div class="result-content">{{ consoleReverse }}</div>
    </div>
</div>
