@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/framework/font-awesome/font-awesome.css">


<link rel="stylesheet" href="~/evpoc/css/chunk-vendors.5ad50e34.css" rel="stylesheet">
<link rel="stylesheet" href="~/evpoc/css/app.4b4dac8b.css" rel="stylesheet">

<div id="app"></div>


<script type="text/javascript" src="~/evpoc/js/chunk-vendors.0f667c89.js"></script>
<script type="text/javascript" src="~/evpoc/js/app.e43f68a1.js"></script>