@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/framework/font-awesome/font-awesome.css">

<% for (var idx in htmlWebpackPlugin.files.css) { %>
<link rel="stylesheet" href="~/evpoc<%= htmlWebpackPlugin.files.css[idx] %>" rel="stylesheet"><% } %>

<div id="app"></div>

<% for (var idx in htmlWebpackPlugin.files.js) { %>
<script type="text/javascript" src="~/evpoc<%= htmlWebpackPlugin.files.js[idx] %>"></script><% } %>